# Python Conditions & If Statement

## if... else

In [1]:
a = 10
b = 5

if a > b:
    print(f'{a} lebih besar dibandingkan {b}')

10 lebih besar dibandingkan 5

## The while loop 

execute the statement as long as the conditions is True

In [5]:
while b <= 9:
    print(b)
    break #to stop the execution

5

In [4]:
while a <=20:
    print(f'{a} less than 20')
    a +=2

10 less than 20
12 less than 20
14 less than 20
16 less than 20
18 less than 20
20 less than 20

## The for loop

used for iterating a sequence

In [9]:
for x in range(a):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [25]:
fruits = ['banana', 'papaya', 'berry', 'melon']

In [26]:
for x in fruits:
    if x == "banana":
        print(x)
        break

banana

In [27]:
for x in fruits:
    if x == "banana":
        continue
    print(x)

papaya
berry
melon

### NESTED LOOPS

In [29]:
color = ['red', 'yellow', 'pink','black']

In [31]:
for x in fruits:
    for y in color:
        print(x,y)

banana red
banana yellow
banana pink
banana black
papaya red
papaya yellow
papaya pink
papaya black
berry red
berry yellow
berry pink
berry black
melon red
melon yellow
melon pink
melon black

In [33]:
for y in color:
    pass # loops can't be empy, so i can use pass to fill the loop with no content

## FUNCTION

In [38]:
def fruits():
    print('there is fruits in basket')
    
fruits()

there is fruits in basket

In [44]:
def vege(namevege):
    print('ayo makan ' + namevege)
    
vege('brokoli')

ayo makan brokoli

In [72]:
def velocityt(vo, a, t ):
    velocity = vo + (a *t)
    print(f'so the velocity of my car is {velocity}')
    
    return velocity

In [74]:
velocityt(3, 3.4, 5)

so the velocity of my car is 20.0

20.0

In [78]:
velocitytlambda = lambda vo, a, t : vo + (a*t)

In [81]:
print(velocitytlambda(3, 3.4, 5))

20.0

## ARRAY

store multiple value in single variable. python does not have built-in support for arrar ( to work with array, i have to import numpy library)

In [88]:
fruits_arr = ["apple", "berry", "papaya", "banana"] # create array containing fruit name

In [87]:
fruits_arr

['apple', 'berry', 'papaya', 'banana']

so here create python array by importing array module

In [90]:
import array as arr

In [92]:
a = arr.array('i', [2,3,4,5])

In [93]:
a

array('i', [2, 3, 4, 5])

In [98]:
for i in range(1,3):
    print(a[i])

3
4