In [30]:
import pandas as pd 
import matplotlib.pyplot as plt

In [13]:
mc = pd.read_csv('marketing_campaign.csv', sep = "\t")

In [17]:
mc.head(10)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
5,7446,1967,Master,Together,62513.0,0,1,09-09-2013,16,520,...,6,0,0,0,0,0,0,3,11,0
6,965,1971,Graduation,Divorced,55635.0,0,1,13-11-2012,34,235,...,6,0,0,0,0,0,0,3,11,0
7,6177,1985,PhD,Married,33454.0,1,0,08-05-2013,32,76,...,8,0,0,0,0,0,0,3,11,0
8,4855,1974,PhD,Together,30351.0,1,0,06-06-2013,19,14,...,9,0,0,0,0,0,0,3,11,1
9,5899,1950,PhD,Together,5648.0,1,1,13-03-2014,68,28,...,20,1,0,0,0,0,0,3,11,0

In [18]:
mc.tail()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [19]:
mc.shape

(2240, 29)

In [20]:
mc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [21]:
mc.dropna(axis = 0, inplace = True)

In [23]:
#but if you want to fill the missing value, try this one:

x = mc['Income'].mean()
mc['Income'].fillna(x, inplace = True)

In [28]:
mc.drop_duplicates(inplace = True)

In [29]:
mc.corr()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,1.000000,0.002355,0.013095,0.001736,-0.003030,-0.044376,-0.021084,0.007326,-0.005902,-0.023992,...,-0.007794,-0.035890,-0.023933,-0.007064,-0.018219,-0.014994,0.034154,NaN,NaN,-0.021491
Year_Birth,0.002355,1.000000,-0.161791,0.233615,-0.350791,-0.016295,-0.159451,-0.017747,-0.033697,-0.040425,...,0.123904,0.061784,-0.066109,0.010575,-0.009611,-0.006717,-0.030407,NaN,NaN,0.023692
Income,0.013095,-0.161791,1.000000,-0.428669,0.019133,-0.003970,0.578650,0.430842,0.584633,0.438871,...,-0.553088,-0.016174,0.184400,0.335943,0.276820,0.087545,-0.027225,NaN,NaN,0.133047
Kidhome,0.001736,0.233615,-0.428669,1.000000,-0.039869,0.011492,-0.497336,-0.373396,-0.439261,-0.388884,...,0.447477,0.016066,-0.162026,-0.205305,-0.174163,-0.081868,0.040978,NaN,NaN,-0.077909
Teenhome,-0.003030,-0.350791,0.019133,-0.039869,1.000000,0.013838,0.003747,-0.176558,-0.261122,-0.205242,...,0.131240,-0.042522,0.038376,-0.190791,-0.144855,-0.015521,0.003307,NaN,NaN,-0.153901
Recency,-0.044376,-0.016295,-0.003970,0.011492,0.013838,1.000000,0.015721,-0.005844,0.022518,0.000551,...,-0.018564,-0.032257,0.017566,-0.000482,-0.021061,-0.001400,0.013637,NaN,NaN,-0.199766
MntWines,-0.021084,-0.159451,0.578650,-0.497336,0.003747,0.015721,1.000000,0.387024,0.568860,0.397721,...,-0.321978,0.061463,0.373143,0.473550,0.351417,0.206185,-0.039470,NaN,NaN,0.246299
MntFruits,0.007326,-0.017747,0.430842,-0.373396,-0.176558,-0.005844,0.387024,1.000000,0.547822,0.593431,...,-0.418729,0.014424,0.006396,0.212871,0.191816,-0.009980,-0.005324,NaN,NaN,0.122443
MntMeatProducts,-0.005902,-0.033697,0.584633,-0.439261,-0.261122,0.022518,0.568860,0.547822,1.000000,0.573574,...,-0.539484,0.018438,0.091618,0.376867,0.313076,0.043521,-0.023782,NaN,NaN,0.237746
MntFishProducts,-0.023992,-0.040425,0.438871,-0.388884,-0.205242,0.000551,0.397721,0.593431,0.573574,1.000000,...,-0.446423,-0.000219,0.016105,0.196277,0.261608,0.002345,-0.021220,NaN,NaN,0.108145
MntSweetProducts,-0.005936,-0.020204,0.440744,-0.378026,-0.163056,0.025110,0.390326,0.571606,0.535136,0.583867,...,-0.422371,0.001780,0.029313,0.259230,0.245102,0.010188,-0.022641,NaN,NaN,0.116170
MntGoldProds,-0.011172,-0.064208,0.325916,-0.355029,-0.019887,0.017663,0.392731,0.396487,0.359446,0.427142,...,-0.247691,0.124958,0.024015,0.181397,0.170132,0.050734,-0.031133,NaN,NaN,0.140332
NumDealsPurchases,-0.040612,-0.058668,-0.083101,0.216913,0.386246,0.002115,0.008886,-0.134512,-0.121308,-0.143241,...,0.346048,-0.023135,0.016077,-0.184253,-0.127374,-0.037981,0.000497,NaN,NaN,0.003451
NumWebPurchases,-0.018476,-0.153051,0.387878,-0.371977,0.162077,-0.005641,0.553786,0.302039,0.307090,0.299688,...,-0.051226,0.042958,0.162932,0.141189,0.159292,0.034829,-0.016642,NaN,NaN,0.151431
NumCatalogPurchases,-0.002274,-0.121764,0.589162,-0.504501,-0.112692,0.024081,0.634753,0.486263,0.734127,0.532757,...,-0.522004,0.104345,0.140182,0.322471,0.309026,0.099915,-0.020839,NaN,NaN,0.219914
NumStorePurchases,-0.013070,-0.127891,0.529362,-0.501349,0.049737,-0.000434,0.640012,0.458491,0.486006,0.457745,...,-0.432398,-0.068913,0.178020,0.212954,0.178743,0.085271,-0.016941,NaN,NaN,0.036241
NumWebVisitsMonth,-0.007794,0.123904,-0.553088,0.447477,0.131240,-0.018564,-0.321978,-0.418729,-0.539484,-0.446423,...,1.000000,0.061307,-0.028666,-0.277883,-0.194773,-0.007362,0.019785,NaN,NaN,-0.002209
AcceptedCmp3,-0.035890,0.061784,-0.016174,0.016066,-0.042522,-0.032257,0.061463,0.014424,0.018438,-0.000219,...,0.061307,1.000000,-0.079659,0.080248,0.095683,0.071702,0.008124,NaN,NaN,0.254005
AcceptedCmp4,-0.023933,-0.066109,0.184400,-0.162026,0.038376,0.017566,0.373143,0.006396,0.091618,0.016105,...,-0.028666,-0.079659,1.000000,0.311314,0.242782,0.295050,-0.027652,NaN,NaN,0.180205
AcceptedCmp5,-0.007064,0.010575,0.335943,-0.205305,-0.190791,-0.000482,0.473550,0.212871,0.376867,0.196277,...,-0.277883,0.080248,0.311314,1.000000,0.407878,0.222121,-0.009576,NaN,NaN,0.323374
AcceptedCmp1,-0.018219,-0.009611,0.276820,-0.174163,-0.144855,-0.021061,0.351417,0.191816,0.313076,0.261608,...,-0.194773,0.095683,0.242782,0.407878,1.000000,0.176637,-0.025594,NaN,NaN,0.297345
AcceptedCmp2,-0.014994,-0.006717,0.087545,-0.081868,-0.015521,-0.001400,0.206185,-0.009980,0.043521,0.002345,...,-0.007362,0.071702,0.295050,0.222121,0.176637,1.000000,-0.011459,NaN,NaN,0.169294
Complain,0.034154,-0.030407,-0.027225,0.040978,0.003307,0.013637,-0.039470,-0.005324,-0.023782,-0.021220,...,0.019785,0.008124,-0.027652,-0.009576,-0.025594,-0.011459,1.000000,NaN,NaN,-0.002029
Z_CostContact,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Z_Revenue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Response,-0.021491,0.023692,0.133047,-0.077909,-0.153901,-0.199766,0.246299,0.122443,0.237746,0.108145,...,-0.002209,0.254005,0.180205,0.323374,0.297345,0.169294,-0.002029,NaN,NaN,1.000000

In [33]:
mc.plot(kind = 'scater', x = 'Income', y ='')

ValueError: scater is not a valid plot kind